.saved_map
  .map_image
    = link_to image_tag(@map.mapimage.thumb.url), @map.mapimage.url
    .created_on= "Created On: #{@map.created_at}"
  .metadata
    .download
      = link_to "Download this image", download_url(@map)
      = "#{(@map.mapimage.file.size / (1024*1024).to_f).round(2)} MB"
    .dimension= "Width: #{@map.width}"
    .dimension= "Height: #{@map.height}"
    .baselayer= "Baselayer: #{@map.baselayer}"
    .wms
      WMS Url: 
      = MakeMapWMS.new(@map).to_s
    
