%html
  %head
    %title MakeMAP
    = include_js(:openlayers, :version => '2.12')
    = include_js(:proj4js)
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
  %body
    .navbar
      .navbar-inner
        .container
          =link_to "MakeMap", root_url, class: :brand
          %ul.nav.pull-left
            = yield :header_nav
          %ul.nav.pull-right
            %li
              =link_to "Code", "http://github.com/gina-alaska/makemap", target: "_blank"
            %li
              =link_to "Issues", "http://github.com/gina-alaska/makemap/issues", target: "_blank"
            %li
              =link_to "Help", "#help"
    = yield